.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #00bc77;
  min-height: 720px;

  a {
    color: #00bc77;
    font-size: 18px;
    @media screen and (min-width: 767px) {
      font-size: 24px;
    }
  }

  .code-error {
    font-size: 96px;
    font-weight: bold;

    @media screen and (min-width: 767px) {
      font-size: 200px;
    }
  }

  .text-error {
    font-size: 20px;
    @media screen and (min-width: 767px) {
      font-size: 36px;
    }
  }
}
